/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f8f9fc;
  color: #0b2850;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
  background: #0b2850;
  color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

header h1 {
  font-size: 2rem;
  color: #ffffff;
  letter-spacing: 1px;
}

nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
  font-size: 1.1rem;
  transition: 0.3s ease;
}

nav ul li a:hover {
  color: #cce0ff;
}

/* Hero Section */
.hero {
  text-align: center;
  margin: 100px auto 70px;
  max-width: 950px;
}

.hero h2 {
  font-size: 2.4rem;
  font-weight: 700;
}

.hero span {
  color: #003399;
}

.hero p {
  font-size: 1.15rem;
  margin-top: 20px;
  color: #3a4a66;
  line-height: 1.8;
}

.btn {
  background:#0b2850;
  border: none;
  color: white;
  padding: 15px 40px;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 30px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0px 6px 15px rgba(0, 51, 153, 0.4);
}

/* Cards Section */
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 60px 20px;
}

.card {
  background-color: #fff;
  width: 360px;
  padding: 40px 25px;
  border-radius: 18px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

.card-icon {
  width: 120px;
  height: 70px;
  background: #0b2850;
  border-radius: 10px;
  margin: 0 auto 20px;
}

.card h3 {
  font-size: 1.4rem;
  margin-bottom: 12px;
  color: #0b2850;
}

.card hr {
  border: none;
  border-top: 2px solid #dbe2ef;
  width: 55%;
  margin: 12px auto;
}

.card p {
  font-size: 1.05rem;
  color: #3a4a66;
  line-height: 1.7;
}

/* Footer */
footer {
  text-align: center;
  padding: 50px 0;
  background: #0b2850;
  color: #ffffff;
  font-size: 1rem;
  margin-top: 60px;
 
}

footer p:nth-child(2) {
  color: #a8c1ff;
  font-size: 1rem;
  margin-top: 8px;
}

/* Responsive Design */
@media (max-width: 900px) {
  header {
    flex-direction: column;
    gap: 15px;
    text-align: center;
    padding: 25px 20px;
  }

  .hero h2 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }

  footer {
    font-size: 0.95rem;
  }
}
